<md-toolbar color="primary">
  <span>{{title}}</span>
</md-toolbar>
<br/>
<md-card class="permission-card">
  <md-card-header>
    <div md-card-avatar><i class="material-icons">camera_enhance</i></div>
    <md-card-title>Android Permissions</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list dense>
      <h3 md-subheader><i>List of Small Apps</i></h3>
      <md-list-item>
        <i class="material-icons">people</i>
        <p md-line><b>People Small App</b></p>
        <p md-line>- Contacts : used to show contact list.</p>
        <p md-line>- Phone : used to launch call</p>
        <p md-line>- Vibrator : used to notify copy in clipboard.</p>
      </md-list-item>
      <md-list-item>
        <i class="material-icons">camera_alt</i>
        <p md-line><b>Flash Small App Xperia Free</b></p>
        <p md-line>- Camera : android system ask this permission to access flashlight.</p>
        <p md-line>- Flashlight : used to control flashlight.</p>
      </md-list-item>
      <md-list-item>
        <i class="material-icons">camera_alt</i>
        <p md-line><b>Flash Small App Xperia Donation</b></p>
        <p md-line>- Camera : android system ask this permission to access flashlight.</p>
        <p md-line>- Flashlight : used to control flashlight.</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<md-card class="privacy-card">
  <md-card-header>
    <div md-card-avatar><i class="material-icons">assignment_ind</i></div>
    <md-card-title>Privacy Policy</md-card-title>
  </md-card-header>
  <md-card-content>
    <p>
      Our Privacy Policy explains how we and some of the companies we work with collect, use, share and protect information in relation to our mobile services, web site, and any software provided on or in connection with Renaud Aste services (collectively, the "Service"), and your choices about the collection and use of your information.
      By using our Service you understand and agree that we are providing a platform for you to post content, including photos, comments and other materials ("User Content"), to the Service and to share User Content publicly. This means that other Users may search for, see, use, or share any of your User Content that you make publicly available through the Service, consistent with the terms and conditions of this Privacy Policy and our Terms of Use (which can be found at http://renaudaste.github.io).
      Our Policy applies to all visitors, users, and others who access the Service ("Users").
    </p>
    <h3>1. Third Party Services</h3>
      No third party apps or services has been used yet.
      We are not responsible for the practices employed by any websites or services linked to or from our Service, including the information or content contained within them. Please remember that when you use a link to go from our Service to another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that third party's own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you allow them to access your User Content you do so at your own risk.
    <h3>2. Information we collect</h3>
      No personal information has been collected yet.
      Cookies and similar technologies
      When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use apps or services developed by Renaud ASTE and provide features to you.
      We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed by us or the third party.
    <h3>3. Changes to our Privacy Policy</h3>
      Renaud Aste may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of app or the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.
  </md-card-content>
</md-card>
<md-card class="privacy-card">
  <md-card-header>
    <div md-card-avatar><i class="material-icons">verified_user</i></div>
    <md-card-title>Term of use</md-card-title>
  </md-card-header>
  <md-card-content>
    <p>
      This page (together with the documents referred to on it) tells you the terms of use on which you may make use of
      our website https://renaudaste.github.io/ or any application we make available via an app store (our "Service"), whether
      as a guest or a registered user. Please read these terms of use carefully before you start to use our Service.
      By using our Service, you indicate that you accept these terms of use and that you agree to abide by them.
      If you do not agree to these terms of use, do not use our Service.

      We reserve the right to make changes to this Privacy Policy at any time. Your continued use of our products,
      applications, services and websites that are subject to this Privacy Policy will signify your acceptance of
      any and all changes to this Privacy Policy made by us from time to time.
    </p>
    <h3>1. Third Party Services</h3>
    https://renaudaste.github.io/ is a website operated by Renaud Aste, based in Lyon, France.
    <h3>2. Accessing our Service or our Services</h3>
    Access to our Service is permitted on a temporary basis, and we reserve the right to withdraw or amend our
    Service we provide without notice (see below). We will not be liable if for any reason our Service is unavailable
    at any time or for any period.
    From time to time, we may restrict access to some parts our Service, or our entire Service to users who have registered with us.
    <h3>3. Acceptable Use</h3>
    You may use our Service only for lawful purposes.
    You also agree not to access without authority, interfere with,
    damage or disrupt, any part of our Service or any network or equipment used in the provision of our Service.
    <h3>4. Our site and our Service changes regularly</h3>
    We aim to update our Service regularly, and may change the content at any time. If the need arises,
    we may suspend access to our Service, or close it indefinitely. Any of the material on our Service may be out of date
    at any given time, and we are under no obligation to update such material.
    <h3>5. Contact</h3>
    If you need further assistance or would like to make a comment, please contact "androidrenaudaste@gmail.com".
    <h3>Physical address</h3>
    <p>Renaud ASTE</p>
    <p>69004 LYON</p>
    <p>France</p>

  </md-card-content>
</md-card>
